.container{
    font-family: "Microsoft Yahei";
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;

    h1 {
        width: 100%;
    }
    .upload-input{
        flex: 0 0 100%;
    }
    .editor {
        flex: 0 0 50%;
        padding-right: 36px;
        box-sizing: border-box;
        p{
            margin:0;
            height:100%;
        }
        textarea {
            height:100%;
        }
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
        height: 30rem;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: vertical;
    }
    .view {
        text-align: left;
        &:before {
            content: "Select All";
            color: #666;
            border: #eee 1px solid;
            border-radius: 10px;
            padding: 0.2rem 0.5rem;
            font-size: 11px;
            cursor: pointer;
        }
    }
    .paper {
        flex:0 0 50%;
        box-sizing: border-box;
        background: #fff;
        padding: 30px;
        position: relative;
    }
    .paper,
    .paper::before,
    .paper::after {
        /* Styles to distinguish sheets from one another */
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        border: 1px solid #bbb;
    }
    .paper::before,
    .paper::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #eee;
    }
    .paper::before {
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1;
    }
    .paper::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -2;
    }

}